body {
    padding: 10px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    margin: 0;
    margin-bottom: 20px;
}

.card {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons button {
    width: 40%;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
    background-color: violet;
    margin: 5px;
}