body {
    padding: 10px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    margin: 0;
    margin-bottom: 20px;
}

.footer {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-top: 100px;
}

.card {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons button {
    width: 40%;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
    background-color: violet;
    margin: 5px;
}

.errorMessage {
    color: #f0f0f0;
    font-size: 170px;
    line-height: 1;
    font-weight: 700;
}